@charset "UTF-8";
.wrapper {
  margin: 0;
  width: 100%;
}
img {
  margin: 0;
}

#photo {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  text-align: left;
  overflow: hidden;
  position: relative;
}

#photo img {
  top: 0;
  left: 0;
  position: absolute;
}

/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.carousel {
  position: relative;
  overflow: hidden;

  margin: auto;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-images video {
  width: 100%;
  height: auto;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.topbg {
  width: 100%;
}
/* スマホ用のCSSはメディアクエリの外に記述する */

@media screen and (min-width: 481px) {
  /* 481px以上に適用されるCSS（タブレット用） */
}
@media screen and (min-width: 960px) {
  /* 960px以上に適用されるCSS（PC用） */
}
