body {
    height: 100%;
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 300px;
    box-sizing: border-box;
    margin: 0;
}

header {
    background-color: white;
    width: 100%;
    height: 126px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin-top: 70px;
    margin-left: 10px;
}

header img {
    margin-left: 29px;
}

header nav {
    margin-top: 90px;
    margin-right: 29px;
}

header nav :hover {
    filter: brightness(0.5);
    transform: scale(1.2);
}

footer {
    width: 100%;
    height: 300px;
    background-color: #606060;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer nav {
    margin: 29px;
    filter: brightness(1.5);
}

footer nav  :hover{
    filter: brightness(0);
}

.bg img {
    
    width: 80%;
    margin-left: 10%;

}

/*　上に上がる動き　*/

#header.UpMove{
    animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
    from {
    opacity: 1;
    transform: translateY(0);
    }
    to {
    opacity: 0;
    transform: translateY(-100px);
    }
}

/*　下に下がる動き　*/

#header.DownMove{
    animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
    from {
    opacity: 0;
    transform: translateY(-100px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
}


.liveschedule {
    position: absolute;
    top: 5%;
    margin-left: 7%;
    width: 70%;


}

.liveschedule img {
    width: 100%;
    margin-bottom: 900px;
}

small  {
    position: relative;
    top: 100px;
    left: 43%;
}